li {
    list-style-type: none;
}

ul, 
p, 
h1 {
    margin: 0;
    padding: 0;
}

.counterList {
    display: flex;
}

.counterItem:not(:last-child) {
    margin-right: 30px;
}

.completedTodoList {
    margin-left: 100px;
}